@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  overflow: hidden;
  background:white;
  box-shadow: 0px 4.42184px 107.23px rgba(144, 119, 142, 0.51);
  width: 30%;
  height: 85px;
  margin-bottom: 15px;
  
}
.btnsend {
  background: linear-gradient(
    92.23deg,
    #f8f6f8 21.43%,
    #b397be 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  )
  ;
  box-shadow: 0px 4.42184px 107.23px rgba(77, 60, 76, 0.51);}

  .btnsend:hover {
    background: linear-gradient(
      92.23deg,
      #f8f6f8 21.43%,
      #b397be 50.63%,
      #3bace2 100%,
      #406aff 117.04%
    )
    ;
    box-shadow: 0px 4.42184px 107.23px rgba(77, 60, 76, 0.51);}
.btn:hover {
  background: linear-gradient(
    92.23deg,
    #dde1ee 21.43%,
    #93bfd4 50.63%,
    #d8bbe4 100%,
    #d4cdd4 117.04%
  );
  transform:scale(0.9);
  
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
.sheila,.motilla {
  font-weight: 200;
  margin-left: 5px;
}
.sheila:hover {
  transform:scale(2);
}
.motilla:hover{
  transform:scale(1.5);
}
.mifoto {

  filter: drop-shadow(16px 10px 10px rgb(165, 145, 167));
  
  }

.skills:hover{
  filter: drop-shadow(16px 10px 10px rgb(20, 18, 20));
  inset:  inset 2px 2px 5px rgba(0, 0, 0, 0.5),
  inset -3px -3px 5px rgba(0,0,0,0.5);
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-sm text-purple-700 ;
  }
  .skill {
    @apply w-1/5 mt-3 h-20 bg-transparent  hover:scale-125  hover:transition-all hover:rounded-t-3xl text-blue-700 font-semibold hover:text-white py-2 px-4 border-transparent hover:border-transparent rounded;
  }
  .btnsend2{
    @apply text-2xl font-bold px-6 py-3 leading-none text-gray-200 border border-gray-800 rounded-lg  bg-gradient-to-b hover:from-indigo-500 from-gray-900 to-black
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#6096b8] to-[#e07adb] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center ;
  }
}
